*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F3EF;
}
a{
    text-decoration: none;
}

/* Superb! You’ve used grid template areas correctly! */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 600px 888px 80px;
    grid-template-areas: 
    "header header header header"
    "first-section first-section first-section first-section"
    "second-section second-section second-section second-section"
    "footer footer footer footer";
}

/* Beautiful work on using CSS Grid and flex box together! */
.header{
    display: flex;
    grid-area: header;
    justify-content: space-around;
    align-items: center;
}
/* Great work on being detailed oriented and adding the right fonts to each component of the website. */
.nav-links a{
    color: #000000;
    font-family: 'Roboto';
    padding-right: 47px;
    font-weight: 500;
}

/* The images aren’t responsive. You can give a % value to an image’s width to make it responsive to the screen size. */
.header img{
    width: 164.03px;
    height: 40px;
}

.hamburger-icon{
    display: none;
}

#hamburger{
    display: none;
}

.right-btn{
    border: none;
    text-align: center;
    border-radius: 28px;
    font-family: 'Roboto';
    font-weight: 500;
    background-color: #000000;
    color: white;
    padding: 14px 24px 15px 24px;
}
/* Nice work on using Flexbox properly to create some of the components. */
.first-section{
    grid-area: first-section;
    display: flex;
    justify-content: space-around;
    padding: 5% 12% 0 12%;
}

.first-section h1{
    font-family: 'Roboto Serif';
    font-weight: 500px;
    margin-right: 80px;
    width: 600px;
    font-size: 64px;
}

.first-section p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    margin-right: 80px;
    padding-top: 32px;
    width: 600px;
    color: #646464;

}

.first-section img{
    width: 600px;
    height: 440px;
}

.second-section{
    grid-area: second-section;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 80px;
    margin:  3% 12% 5% 12%;

}

.card1{
    background-color: #FEBD2F;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px 0 40px;
}

.card1 h2{
    color: #000000;
    font-family: 'Roboto Serif';
    font-weight: 500;
    font-size: 40px;
}

.card-container{
    background-color: #FFFFFF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
}

.card-container h3{
    font-family: 'Roboto Serif';
    font-weight: 700;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 40px;
}

.card-container p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    padding-right: 40px;
    margin-left: 40px;

}

.card-container a{
    margin-left: 40px;
    font-family: 'Roboto';
    font-weight: 500;
    size: 18px;
    color: #000000;
    border: 1px solid #DCDCDC;
    width: 143px;
    text-align: center;
    border-radius: 50px;
    padding: 10px 0 10px 0;
    margin-bottom: 40px;
}

.tag{
    position: absolute;
    left: 287.5px;
    bottom: 296.3px;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 24px 0 24px 0;
    background-color: #FEBD2F;
}

/* Great work on making your project responsive using media queries properly! */
@media (max-width:768px) {
    
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px auto auto 80px;
        grid-template-areas: 
        "header header"
        "first-section first-section"
        "second-section second-section"
        "footer footer";
    }

    .header{
        margin: 0 10% 0 10%;
    }

    .first-section{
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .first-section h1{
        margin-right: 30px;
        margin-left: 30px;
        width: 608px;
        font-size: 48px;
        text-align: center;
    }
    
    .first-section p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        width: 600px;
    
    }

    .first-section img{
        margin-top: 20px;
        align-self: center;
        margin-bottom: 72px;

    }

    .second-section{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 64px;
        margin:  5% 12% 15% 12%;
    
    }

    .tag{
        left: 170.5px;
        bottom: 260.3px;
    }

    .card1{
        justify-content: center;
        align-items: center;
        padding: 0 10px 0 10px;
    }
    
    .card1 h2{
        font-size: 32px;
        text-align: center;
    }
    
    .card-container h3{
        font-size: 20px;
        margin-right: 20px;
    }
    
    .card-container p{
        font-size: 16px;
        margin-top: 16px;
    
    }
    
    .card-container a{
        margin-top: 24px;
    
    
}

/* Good job on hiding the regular navbar and showing the hamburger icon on smaller screen sizes.

The hamburger menu is not functional. */
@media (max-width: 468px) {

    .nav-links a{
        display: none;
    }

    .right-btn{
        display: none;
    }

    .hamburger-icon{
        display: block;
    }

    #hamburger:checked .nav-links a{
        display: flex;
    }

    .nav-links a{
        position: absolute;
        top: 75px;
        left: 0;
        background-color: aqua;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px 0;
    }

    .first-section h1{
        margin-right: 45px;
        width: 400px;
        font-size: 36px;
    }
    
    .first-section p{
        font-size: 18px;
        width: 342px;
        height: 120px;
        margin-left: 35px;
        text-align: center;
        
    
    }

    .first-section img{
        width: 342px;
        height: 220px;
    }

    .second-section{
        grid-area: second-section;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 40px;
        row-gap: 64px;
        margin:  3% 12% 5% 12%;
    
    }

    .card1{
        width: 342px;
        height: 132px;
    }
    .card1 h2{
        color: #000000;
        font-family: 'Roboto Serif';
        font-weight: 500;
        font-size: 24px;
    }

    .tag{
        left: 260.5px;
        bottom: 200.3px;
    }

}